<app-navbar></app-navbar>
<app-message></app-message>
<div class="display-container">
  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="search for name/email" 
  [(ngModel)]="searchValue">

  <div class="card" *ngFor="let employee of (employeeDetails | sort |search:searchValue)">
    <div class="card-body">
      <p *ngIf="employee.name == 'No match found' && employee.email == 'No match found'">No match found</p>
      <p *ngIf="employee.name != 'No match found'"><b>Name:</b> <span class="emp-name"> {{ employee.name }}</span></p>
      <p *ngIf="employee.email != 'No match found'"><b>Email:</b> {{ employee.email }}</p>
      <button
      *ngIf="employee.name != 'No match found' || employee.email != 'No match found'"
        type="button"
        class="btn btn-primary"
        (click)="updateEmployee(employee.id)"
      >
        Update
      </button>
      <button
      *ngIf="employee.name != 'No match found' || employee.email != 'No match found'"
        type="button"
        class="btn btn-danger"
        (click)="deleteEmployee(employee.id)"
      >
        Delete
      </button>
    </div>
  </div>
</div>
